/*navigation bar*/
.navbar-nav li{
	padding-right: 1rem;
}

.navbar-brand{
	font-size: 1.8rem;
}

.nav-link{
	font-size: 1.2rem !important;
}

/*global width class*/
.widthMax{
	width: 100%;
}

.center-element{
	text-align: center;
}

/*footer*/

.footer{
	padding: 10px 40px 10px 40px;
	margin-top: 65px;
}

.hr-light{
	color: #fff;
	background-color: #fff;
}

/*footer padding*/
.footer-padding{
	padding: 30px 50px 10px 50px;
}