<div class="container-fluid text-center bottom-margin-300 top-margin-100">
  <h1 class="title mb-4 mt-5">Auction</h1>
  <h1 class="main-error-text">404</h1>
  <p class="additional-error-text">Ooops! The page does not exist, Not Found</p>

  {{#link-to "home" class='error-button'}}
    GO BACK
  {{/link-to}}
</div>