<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">FORGOT PASSWORD</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fade">
        <div class="card margin-card">
          <h1 class="card-title">FORGOT PASSWORD</h1>
          <div class="card-body mr-4 ml-4">
            <form>
              <div class="mb-5 mt-5">
                <p class="password-reset-text">Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
              </div>
              <div class="form-group mt-4">
                <label>Enter Email</label>
                {{input type="email" value=emailAddress autocomplete="off" class="form-control form-background-color p-4"}}
              </div>
              {{#if (eq emailIsValid false)}}
                <p class="validation-error-message fade">{{emailErrorText}}</p>
              {{/if}}
              <button type="submit" class="btn btn-purple-outline mt-3 bottom-margin-100" {{action 'reset'}}>SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>