{{app-header}}

<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">FORGOT PASSWORD</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row fade">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card margin-card">
          <h1 class="card-title">FORGOT PASSWORD</h1>
          <div class="card-body mr-4 ml-4">
            <div class="mb-5 mt-5">
              <p class="password-reset-text">Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
            </div>
            <div class="form-group mt-4">
              <label for="exampleInputEmail1">Enter Email</label>
              {{input type="email" value=emailAddress class="form-control form-background-color p-4"}}
            </div>
            <button type="submit" class="btn btn-purple-outline mt-3 bottom-margin-100">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>