{{app-header}}

<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">REGISTER</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card margin-card">
          <h1 class="card-title">You've successfully made your account!</h1>
          <div class="card-body mr-5 ml-5">
            <div class="text-center mt-3 mb-5">
              {{#link-to "home" class="btn-purple-outline-link"}}
                Home
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>