<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">REGISTER</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row ml-0 mr-0">
      <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mr-0 ml-0 pr-0 pl-0 fade">
        <div class="card mr-0 ml-0 pr-0 pl-0 margin-card">
          <h1 class="card-title">Almost there!</h1>
          <div class="card-body mr-5 ml-5">
            <p class="password-reset-text text-center">In order to finish your registration you must click the link we've sent to your email.</p>
            <div class="text-center mt-5 mb-5">
              {{#link-to "home" class="btn-purple-outline-link"}}
                Home
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>