<div class="container-fluid current-route-background">
  <div class="container">
    <p class="form-title-text">MAIL VERIFICATION</p>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="container">
    <div class="row ml-0 mr-0 mt-5 mb-0">
      <div class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mr-0 ml-0 pr-0 pl-0 fade">
        <div class="card margin-card mt-5">
          <h1 class="card-title">You've successfully verified your account!</h1>
          <div class="card-body mr-5 ml-5">
            <div class="text-center mt-3 mb-5">
              {{#link-to "login" class="btn-purple-outline-link"}}
                Login
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>