<footer class="container-fluid footer">
  <div class="container text-light pt-4 pb-4">
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <h1 class="footer-title-text">AUCTION</h1>
        <div class="mt-3">
          <div class="footer-text-link-holder">
            {{#link-to "shop.about-us" class="footer-text footer-text-link"}}
              About us
            {{/link-to}}
          </div>
          <div class="footer-text-link-holder">
            {{#link-to "shop.terms-and-conditions" class="footer-text footer-text-link"}}
              Terms and Conditions
            {{/link-to}}
          </div>
          <div class="footer-text-link-holder">
            {{#link-to "shop.privacy-and-policy" class="footer-text footer-text-link"}}
              Privacy and Policy
            {{/link-to}}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3">
        <h1 class="footer-title-text">GET IN TOUCH</h1>
        <div class="mt-3">
          <p class="footer-text">Call us at +123 797-567-2535</p>
          <p class="footer-text">support@auction.com</p>
        </div>
      </div>
      <div class="col-lg-1 col-xl-1"></div>
      <div class="col-lg-5 col-xl-5">
      <h1 class="footer-title-text">NEWSLETTER</h1>
        <div class="mt-3">
          <p class="footer-text">Enter your email address and get notified about new products. We hate spam!</p>
          <div class="footer-form">
            {{input type="text" value=email placeholder="Your Email Address" class="footer-input-form"}}
            <a class="footer-purple-button" href="#">GO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>