body{
	padding: 0px;
	margin: 0px;
	font-family: Lato;
	font-size: 16px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a, a:active, a:focus, button, button:hover, button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/*animations*/
@keyframes fade{
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade{
  animation-name: fade;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
}

.alert.alert-success{
  color: #008000;
}

.material-icons, .icon-text {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

/**/


/*header design*/

.user-navigation-bar{
	background: #252525;
}

.divider{
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.49px;
	margin: 10px 10px 0px 10px;
}

.title{
	font-size: 24px;
	color: #8367D8;
	letter-spacing: 0.84px;
	margin-top: 15px;
}

.navigation-form{
	margin-left: 10%;
	margin-bottom: 4px;	
	width: 42%;
  border: 1px solid #DDD;
  border-radius: 2px;
	box-shadow: 2px 2px 2px  #C0C0C0;
}

.nav-link{
	color: #252525;
}

.nav-link:hover{
	color: #8367D8;
}

.header-logout-button{
	background:none!important;
	color: #ffffff;
	font-size: 16px;
	border:none; 
	padding:0!important;
	cursor: pointer;
}

.header-logout-button:hover{
	color: #D3D3D3;
}

.header-navigation-dropdown-item{
	font-size: 16px;	
	color: #9B9B9B;
	letter-spacing: 0.56px;
}

.active{
	color: #8367D8;
}

.social-media-link{
  background-color: #808080;
  width: 33px;
  padding: 1px 5px 0px 5px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  border-radius: 100%;
  color: #252525;
  font-size: 20px;
}

.social-media-link:hover{
  text-decoration: none;
  color: #A9A9A9;
}

.header-search-button{
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.header-search-input{
  border: none;
  max-width: 89%;
  min-width: 88%;
  padding: 5px 0px 5px 15px;
}

.header-logo-link:hover{
  text-decoration: none;
}

/**/




/*404 response website design*/
.main-error-text{
	font-size: 300px;
	color: #8367D8;
	letter-spacing: 10.5px;
	text-shadow: 8px 10px 0 #DADADA;
}

.additional-error-text{
	font-size: 36px;
	color: #252525;
	letter-spacing: 1.26px;
	margin-bottom: 50px;
}

.error-button{
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
	padding: 15px 30px;
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);

}

.error-button:hover{
	text-decoration: none;
	color: #8367D8;
}
/**/


/*global margin class list*/
.bottom-margin-50{
	margin-bottom: 50px;
}

.bottom-margin-62{
  margin-bottom: 62px;
}

.bottom-margin-75{
  margin-bottom: 50px;
}

.bottom-margin-100{
	margin-bottom: 100px;
}

.bottom-margin-150{
  margin-bottom: 150px;
}

.bottom-margin-200{
	margin-bottom: 200px;
}


.bottom-margin-300{
	margin-bottom: 300px;
}

.bottom-margin-400{
  margin-bottom: 400px;
}

.top-margin-100{
	margin-top: 100px;
}

.top-margin-200{
	margin-top: 200px;
}
/**/




/*login*/
/*form-title is used in register as well*/
.form-title-text{
	padding: 15px 0px;
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}
/*card-title is used in register as well*/
.card-title{
	background: #FAFAFA;
	padding: 15px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.84px;
	text-align: center;
}

.btn-purple{
	width: 100%;
	background: #8367D8;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px 0px;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
}

.btn-blue{
	width: 45%;
	background: #475993;
	padding: 10px 0px;
	border: 3px solid #415994;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.56px;
	text-align: center;
}

.btn-red{
	width: 45%;
	padding: 10px 0px;
	float: right;
	background: #CD5542;
	border: 3px solid #CD5542;
	font-weight: bold;
	color: #FFFFFF;
}

/*margin card is also used in register*/
.margin-card{
	margin-top: 10px;
	margin-bottom: 200px;
}

/**/




/*Register*/
.login-nav-link{
	text-decoration: none;
	color: #8367D8;
}

.login-nav-link:hover{
	text-decoration: none;
}

.btn-purple-outline{
	width: 100%;
	padding: 10px 0px;
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
	text-align: center;
	font-weight: bold;
}

.btn-purple-outline-link{
	padding: 15px 35px;
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
	text-align: center;
}

.btn-purple-outline-link:hover{
	text-decoration: none;
	color: #8367D8;
}

/**/


/*Password Reset*/

.password-reset-text{
	font-size: 18px;
	color: #9B9B9B;
	letter-spacing: 0.63px;
}

/**/


/*global form background color class*/
.form-background-color{
	background: #FCFCFC;
}


/*global route classes*/
.current-route-text{
	float: right;
	font-size: 16px;
	color: #252525;
	letter-spacing: 0.56px;
}

.current-route-parent-text{
	opacity: 0.5;
	font-size: 16px;
	color: #252525;
	letter-spacing: 0.56px;

}

.current-route-background{
	background: #FAFAFA;
}

/**/




/*home landing page*/
.center-margin{
	margin-top: auto;
	margin-bottom: auto;
}

.home-featured-title{
	font-size: 46px;
	color: #252525;
	letter-spacing: 1.61px;
}

.home-featured-price{
	font-size: 24px;
	color: #8367D8;
	letter-spacing: 0.84px;
}

.home-featured-button{
	font-size: 18px;
	font-weight: bold
	letter-spacing: 0.63px;
	padding: 15px 25px 15px 30px;
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	color: #252525;
}

.home-featured-button:hover{
	text-decoration: none;
	color: #8367D8;
}

/*global class*/
.feature-collection-text{
	font-size: 28px;
	color: #252525;
	letter-spacing: 0.98px
}	

.category-table{
	background: #FFFFFF;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);
}

.categort-table-v2{
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
}

.category-table-title{
	font-size: 16px;
	font-weight: bold;
	color: #8367D8;
	letter-spacing: 0.56px;
	margin-left: 10px;
}

.category-table-title-v2{
  font-size: 14px;
  font-weight: bold;
  color: #8367D8;
  letter-spacing: 0.49px;
}

.category-table-link{
	font-size: 16px;
	color: #252525;
	letter-spacing: 0.56px;
}

.category-table-link-v2{
  font-size: 14px;
  color: #252525;
  padding: 10px 15px;
  letter-spacing: 0.49px;
}

.category-table-link-v2:hover{
  color: #696969;
  background: #F0F0F0;
}

.category-table-link-icon{
  float: right;
}

.category-table-link-icon-active{
  float: right;
  color: #8367D8; 
}

.category-table-link-active{
  background-color: #F0F0F0;
  color: #696969;
}

.category-table-link-v3{
  font-size: 14px;
  color: #9B9B9B;
  padding: 5px 15px;
  letter-spacing: 0.49px;
}

.category-table-link-v3:hover{
  color: #696969;
  background: #F5F5F5 ;
}

.category-table-link:hover{
	text-decoration: none;
	color: #696969;
}

.category-table-link-v4{
  font-size: 14px;
  color: #252525;
  padding: 10px 15px;
  letter-spacing: 0.49px;
}

.category-table-row-full{
	width: 100%;
	padding: 10px 0px 10px 10px;
}

.featured-list-title{
	font-size: 28px;
	color: #252525;
	letter-spacing: 0.98px;
}

.feature-line{
	background: #ECECEC;
	height: 2px;
}

.feature-line-small-v1{
  width: 180px;
  height: 2px;
  top: 58px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  background: #8367D8;
  float: left;
}

.feature-line-small-v2{
  width: 180px;
  height: 2px;
  top: 58px;
  position: absolute;
  padding: 0px;
  margin: 0px 0px 0px 215px;
  background: #8367D8;
  float: left;
}

.home-product-card{

}

.home-product-card-image-holder{
	height: 225px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
}

.home-product-card-image{
	height: 225px;

  overflow: hidden;
	background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.home-product-card-featured-image-holder{
  height: 300px;
  text-align: center;
}

.home-product-card-featured-image{
  max-height: 300px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

.home-product-card-name-text{
	font-size: 24px;
	color: #252525;
	letter-spacing: 0.84px;
}

.home-product-card-price-text{
	font-size: 16px;
	color: #252525;
	letter-spacing: 0.56px;
}

.home-list-button{
  background: none;
  border: none;
  cursor: pointer;
}

.validation-error-message{
  color: #FF6666; 
}

.cursor-not-allowed{
  cursor: not-allowed;
}

.checkmarker{
  margin: 5px 10px 0px 10px;
  font-size: 20px;
  color: #008000;
}

.errormarker{
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  color: #FF6666; 
}

.checkmarker-v1{
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  color: #008000;
}

/**/



/*Single product design*/

.single-product-price-text{
	font-size: 24px;
	color: #8367D8;
	letter-spacing: 0.84px;
}

.single-product-bid-input{
	width: 30%;
	background: #ECECEC;
	border: 1px solid #D8D8D8;
	padding: 15px;
	margin-right: 10px;
}


.single-product-featured-button{
	font-size: 18px;
	font-weight: bold
	letter-spacing: 0.63px;
	padding: 15px 25px 15px 30px;
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	color: #252525;
}

.single-product-featured-button:hover{
	text-decoration: none;
	color: #8367D8;
}

.single-product-featured-button-v2{
	font-size: 18px;
	font-weight: bold
	letter-spacing: 0.63px;
	padding: 10px 25px 10px 30px; 
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	color: #252525;
	cursor: pointer;
}

.single-product-featured-button-v2:hover{
	text-decoration: none;
	color: #8367D8;
}


.single-product-small-text{
	font-size: 15px;
	color: #9B9B9B;
	letter-spacing: 0.52px;
	line-height: 22px;
}

.single-product-watchlist-btn{
	padding: 5px 15px;
	font-size: 15px;
	color: #252525;
	letter-spacing: 0.52px;
	line-height: 22px;
	background: #FFFFFF;
	border: 3px solid #ECECEC;
	cursor: pointer;
}

.single-product-heart{
  color: #ECECEC;
}

.single-product-watchlist-btn:hover{
	text-decoration: none;
	color: #8367D8;
}

.single-product-watchlist-btn-active{
  padding: 5px 15px;
  font-size: 15px;
  color: #8367D8;
  letter-spacing: 0.52px;
  line-height: 22px;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  cursor: pointer;
}

.single-product-heart-active{
  color: #8367D8;
}

.single-product-watchlist-btn-v2{
	padding: 9px 15px;
	font-size: 15px;
	color: #252525;
	letter-spacing: 0.52px;
	line-height: 22px;
	background: #FFFFFF;
	border: 3px solid #ECECEC;
	cursor: pointer;
}

.single-product-watchlist-btn-v2:hover{
	text-decoration: none;
	color: #8367D8;
}

.single-product-watchlist-holder{
	margin-top: 30px;
	margin-bottom: 25px;
}

.single-product-description-text{
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}

.single-product-underline{
	height: 2px;
	background: #ECECEC;
}

.single-product-picture-background{
	
}

.single-product-main-picture{
	height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.single-product-side-picture{
	padding: 5px;
	max-height: 75px;
}

.single-product-margin{
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 1px;
}

.single-product-margin-small{
	margin-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.single-product-highest-bid-amount{
	font-size: 16px;
	font-weight: bold;
	color: #8367D8;
	letter-spacing: 0.56px;
}

.single-product-main-image{
	height: auto;
  max-height: 375px;
  width: 100%;
  align-self: center;
/*  margin-left: 50%;
  transform: translateX(-50%);*/
  /*margin-top: 50%;
  transform: translateY(-50%);*/
  vertical-align: middle;
  overflow: hidden;
}

.single-product-secondary-image{
	
	max-height: 75px;
	background-repeat: no-repeat;
  background-size: contain;
}


.single-product-user-holder-v1{
  padding: 0px 25px;
}

.single-product-user-holder-v2{
  padding: 0px 5px;
}

.single-product-user-holder-v3{
  padding: 0px 0px;
}

.single-product-bidder-user-holder{
  margin: auto 0px;
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.63px;
}

.single-product-bidder-user-icon{
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: #ECECEC;
}

.single-product-bid-user-avatar{
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}


.single-product-date{
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}

.single-product-bid{
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.63px;
}

.sp-margin-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.sp-highest-bid-text{
  font-size: 18px;
  padding: 15px 0px;
  font-weight: bold;
  color: #417505;
  letter-spacing: 0.63px;
}

.sp-bidder-highest-holder{
  background: #F0F3EE;
}

.sp-losing-bid-text{
  font-size: 18px;
  padding: 15px 0px;
  color: #AB944E;
  letter-spacing: 0.63px;
}

.sp-bidder-losing-holder{
  background: #F6F2E5;
}

.sp-notification-holder{
  width: 62%;
}

.sp-load-more-holder{
  text-align: center;
  padding: 20px 0px 35px 0px;
}

.sp-load-more-button{
  padding: 10px 25px;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  font-size: 18px;
  font-weight: bold
  letter-spacing: 0.63px;
  color: #252525;
  cursor: pointer;
}

.sp-load-more-button:hover{
  text-decoration: none;
  color: #8367D8;
}

/**/



/*Category list design*/
.category-list-parent-text{
	font-size: 24px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.84px;
}

.category-list-parent-text:hover{
	color: #252525;
	text-decoration: none;
}

.category-list-child-text{
	font-size: 16px;
	color: #252525;
	letter-spacing: 0.56px;
}

.category-list-child-text:hover{
	color: #252525;
	text-decoration: none;
}


/**/



/*Account design*/
.account-navigation-link{
	background: #F0F0F0;
	padding: 15px 30px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.56px;
}

.account-navigation-link:hover{
	color: #8367D8;
	text-decoration: none;
}

.account-navigation-link-active{
	background: #8367D8;;
	padding: 15px 30px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0.56px;
}

.account-navigation-link-active:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.account-settings-card-title{
	background: #F0F0F0;;
	padding: 15px 0px 15px 25px;
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-settings-card-text{
	padding: 15px 0px 0px 35px;
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-settings-card-text-special{
	padding: 15px 0px 0px 35px;
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-settings-card-checkbox{
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
}

.account-settings-card-checkbox-label{
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
	line-height: 26px;
}

.account-settings-checkbox-holder{
	padding: 0px 0px 5px 35px;
}

.account-settings-button-deactivate{
	width: 40%;
	margin: 15px 0px 75px 35px;
	padding: 12px 40px;
	font-size: 18px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.63px;
	background: #FFFFFF;
	border: 3px solid #E3E3E3;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
}


/*account bids*/
.account-card-header{
	background-color: #FAFAFA;
}

.logo{
  height: 33px;
  padding: 0px 5px 5px 0px;
}

.account-header-text{
	font-size: 18px;
	font-weight: normal;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-bids-table{
	width: 100%;
	table-layout:fixed;
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
}

.account-bids-table-header{
	width: 100%;
	background-color: #FAFAFA;
	border: 1px solid #E3E3E3;
}

.account-bids-table-header th, td{
	padding: 15px 25px;
}

.account-bids-table td{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-bids-table-item{
	width: 10%;
}

.account-bids-table-name{
	width: 22%;
}

.account-bids-table-time{
	width: 13%;
}

.account-bids-table-price{
	width: 13%;
}

.account-bids-table-bids{
	width: 12%;
}

.account-bids-table-highest-bid{
	width: 15%;
}

.account-bids-table-button-view{
	width: 15%;
}

.account-bids-button{
	background: #FFFFFF;
	padding: 15px 30px;
	border: 3px solid #E3E3E3;
	box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
	font-size: 16px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.56px;
}

.account-bids-button:hover{
	text-decoration: none;
	color: #8367D8;
}

.accout-bids-image-holder{
	background: #D8D8D8;
	margin: 10px 0px 10px 15px;
	max-height: 150px;
}

.account-bid-image{
	width: 100%;
	max-height: 150px;
	background-repeat: no-repeat;
  background-size: contain;
}

.account-product-name{
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-product-id{
	font-size: 18px;	
	color: #8367D8;
	letter-spacing: 0.63px;
}

.account-product-plain-text{
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}

/*account wishlist*/

.account-wishlist-table-item{
	width: 10%;
}

.account-wishlist-table-name{
	width: 30%;
}

.account-wishlist-table-time{
	width: 12%;
}

.account-wishlist-table-bid{
	width: 18%;
}

.account-wishlist-table-status{
	width: 15%;
}

.account-wishlist-status-text-active{
	background: #F0F0F0;
	padding: 15px 30px;
	font-size: 14px;
	font-weight: bold;
	color: #417505;
	letter-spacing: 0.49px;
	text-align: center;
}

.account-wishlist-status-text-sold{
  background: #F0F0F0;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: bold;
  color: #A6555F;
  letter-spacing: 0.49px;
  text-align: center;
}

/*account profile*/
.account-profile-card-top{
	background: #FAFAFA;
	font-size: 20px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.7px;
	padding: 10px 0px 10px 35px;
}

.account-profile-card-left-side{
  width: 25%;
  margin: 20px 20px 30px 20px;
  padding: 0px 20px 0px 20px;
  overflow: auto;
  height: 750px;;
}

.account-profile-card-right-side{
  width: 50%;
  margin: 20px 0px 30px 0px;
  overflow: auto;
  height: 750px;;
}

.account-profile-card-left-side-address{
  width: 25%;
  margin: 20px 20px 30px 20px;
  padding: 0px 20px 0px 20px;
  overflow: auto;
  height: 600px;
}

.account-profile-card-right-side-address{
  width: 50%;
  margin: 20px 0px 30px 0px;
  overflow: auto;
  height: 600px;
}

.account-profile-card-image-button{
  width: 100%;
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #252525;
  letter-spacing: 0.56px;
  text-align: center;
  background: #FFFFFF;
  border: 3px solid #E3E3E3;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
}

.account-profile-image-holder{
  height: 250px;
  background: #ECECEC;
}

.account-profile-image{
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.account-profile-input-form-static{
  width: 100%;
  padding: 10px 0px 10px 15px;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
}

.account-profile-input-form-half-static{
  width: 100%;
  padding: 10px 0px 10px 15px;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
}

.account-profile-select{
  width: 50%;
  padding: 10px 0px 10px 15px;
  background: url('https://material.io/tools/icons/static/icons/baseline-keyboard_arrow_down-24px.svg') 96% / 12% no-repeat #ffff;
  border: 1px solid #D8D8D8;
}

.account-profile-form-text{
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
}

.account-profile-pointer{
  cursor: pointer;
}

.account-profile-address-title{
  font-size: 28px;
  color: #252525;
  letter-spacing: 0.98px;
} 

.account-profile-input-form-holder{
  width: 50%;
}

.account-profile-holder-margin{
  margin-right: 11px;
}

.account-profile-save-holder{
  float: right;
}

.account-profile-save-info-button{
  background: #FFFFFF;
  padding: 10px 40px;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.63px;
  cursor: pointer;
}


/*account sales*/
.account-sales-route-holder{
	margin-bottom: 11px;
}

.account-sales-navigation-link{
	background: #FAFAFA;
	border: 1px solid #D8D8D8;
	padding: 15px 30px;
	font-size: 18px;
	color: #252525;
	letter-spacing: 0.63px;
}	

.account-sales-navigation-link:hover{
	text-decoration: none;
	color: #8367D8;
}


.account-sales-navigation-link-active{
	background: #8367D8;
	border: 1px solid #8367D8;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 0.63px;
}

/*.account-sales-link-holder{
	margin-top: 62px;
}
*/
/*account sell*/
.account-sell-image-holder{
	height: 90px;
	text-align: center;
}

.account-sell-image{
	height: 90px;
	text-align: center;
}

.account-card-title{
	background: #FAFAFA;
	padding: 20px 0px;
	font-size: 20px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.7px;
	text-align: center;
}

.account-sell-link-button{
	background: #FFFFFF;
	border: 3px solid #8367D8;
	box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
	padding: 15px 55px 15px 60px;
	font-size: 18px;
	font-weight: bold;
	color: #252525;
	letter-spacing: 0.63px;
}

.account-sell-link-button:hover{
	text-decoration: none;
	color: #8367D8;
}



/**/


/*Shop*/
.shop-product-list-category-list{

}

.shop-product-list-dropdown-button{
  background: #FFFFFF;
  width: 100%;
  font-size: 14px;
  color: #252525;
  border: none;
  letter-spacing: 0.49px;
}

.shop-product-list-dropdown-button:hover{
  text-decoration: none;
  background: #ffffff;
  color: #8367D8;
}

.product-list-pointer{
  cursor: pointer;
}


.product-list-pointer:hover{
  cursor: pointer;
}

.product-list-type-holder{
  margin-bottom: auto;
  float: right;
}

.product-sort-type-holder{
  margin-bottom: auto;
  float: left;
}

.product-list-select{
  padding: 10px 60px 10px 15px;
  background: #FFFFFF;  
  border: 3px solid #ECECEC;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  background: url('https://material.io/tools/icons/static/icons/baseline-keyboard_arrow_down-24px.svg') 96% / 12% no-repeat #ffff;
  cursor: pointer;
}

.product-list-button{
  padding: 10px 20px;
  background: #ffff;
  border: 0px #ffff solid;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  cursor: pointer;
}

.product-list-button-active{
  background: #8367D8;
  color: #ffffff;
}

.product-list-title-v1{
  font-size: 24px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 0.84px;
}

.product-list-paragraph-v1{
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 0.56px;
  line-height: 21px;
}

.product-list-price-v1{
  font-size: 24px;
  color: #8367D8;
  letter-spacing: 0.84px;
}

.product-list-button-v1{
  background: #FFFFFF;
  border: 3px solid #ECECEC;
  padding: 5px 25px;
  font-size: 15px;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
  cursor: pointer;
}

.product-list-button-v1:hover{
  color: #696969;
  cursor: pointer;
}

.product-list-button-v1-active{
  background: #FFFFFF;
  border: 3px solid #8367D8;
  padding: 5px 25px;
  font-size: 15px;
  color: #8367D8;
  letter-spacing: 0.52px;
  line-height: 22px;
  cursor: pointer;
}

.product-list-button-v2{
  background: #FFFFFF;
  border: 3px solid #ECECEC;
  padding: 11px 25px;
  font-size: 15px;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
}

.product-list-button-v3{
  background: #FFFFFF;
  border: 3px solid #ECECEC;
  padding: 10px 25px;
  font-size: 15px;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
  cursor: pointer;
}

.product-list-button-v3:hover{
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}

.product-list-image-holder{
  width: 100%;
  height: 225px;
  max-width: 225px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.product-list-image-v1{
  height: auto;
  max-height: 225px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
 /* margin-top: 50%;
  transform: translateY(-50%);*/
  overflow: hidden;
}

.search-error-text{
  padding: 15px 0px;
  margin-left: 24%;
  font-size: 18px;
  color: #9B9B9B;
  letter-spacing: 0.63px;
}

.search-error-text-highlight{
  font-size: 18px;
  color: #8367D8;
  letter-spacing: 0.63px;
}

.search-error-text-highlight:hover{
  text-decoration: none;
}

.product-list-select-option{
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
}

/**/



/*footer links design*/
/*about us*/
/*terms and conditions*/
/*privacy and policy*/
/*used in single product as well*/
.title-text-links{
	font-size: 46px;
	color: #252525;
	letter-spacing: 1.61px;
}

.large-title-text-links{
	font-size: 28px;
	color: #252525;
	letter-spacing: 0.84px;
}

.medium-title-text-links{
	font-size: 26px;
	color: #252525;
	letter-spacing: 0.84px;
}


.small-title-text-links{
	font-size: 24px;
	color: #252525;
	letter-spacing: 0.84px;
}

.paragraph-text-about{
	font-size: 18px;
	color: #9B9B9B;
	letter-spacing: 0.63px;
	line-height: 25px;
}

.about-us-left-margin{
	margin-left: 45px;
}

.about-us-main-image-holder{
	margin-top: 85px;
}

.about-us-main-image{
	width: 100%;
	background-repeat: no-repeat;
  background-size: contain;
}

.about-us-image-holder{
	margin-top: 15px;
}

.about-us-image{
	width: 100%;
	background-repeat: no-repeat;
  background-size: cover;
}

/**/


/*footer design*/
.footer{
	background: #252525;
	padding-top: 30px;
	padding-bottom: 90px;
}

.footer-title-text{
	opacity: 0.5;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.56px;
}

.footer-text{
	color: #D8D8D8;
	letter-spacing: 0.56px;
	margin: 4px 0px 0px 0px;

}

.footer-text-link-holder{
	margin-top: 4px;
}

.footer-text-link:hover{
	text-decoration: none;
	color: #696969;
}

.footer-form{
	margin-top: 25px;
}

.footer-input-form{
	border: none;
	width: 70%;
	background-color: #3B3B3B;
	padding: 15px;
	color: #696969;
	letter-spacing: 0.56px;
}

.footer-purple-button{
	border: 3px solid #8367D8;
	padding: 15px 20px 15px 30px;
	font-size: 18px;
	font-weight: bold;
	color: #D8D8D8;
	letter-spacing: 0.63px;
}

.footer-purple-button:hover{
	text-decoration: none;
	color: #FFFFFF;
}