@(products: List[Product])


@layout("Product List"){
	<div class="container-fluid">
		<div class="row">
		@for(product <- products){
			<div class="col-4">
				<div class="card mt-5">
					<div class="card-header">
					Product number @product.id.
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Name: @product.name</li>
							<li class="list-group-item">Published on: @product.publishDate</li>
							<li class="list-group-item">Due date: @product.expireDate</li>
							<li class="list-group-item">Main Bid: @product.mainBid</li>
							<li class="list-group-item">Status: @product.status</li>
							<li class="list-group-item">Status: @product.color</li>
							<li class="list-group-item">Status: @product.size</li>
							<li class="list-group-item">Main Description: @product.mainDescription</li>
							<li class="list-group-item">Additional Description: @product.additionalDescription</li>
							<li class="list-group-item">Starting price: @product.startingPrice</li>
						</ul>
						@helper.form(action = helper.CSRF(routes.ProductController.deleteProduct(product.id)), 'method -> "delete"){
						<a class="btn btn-primary mt-4" href="@routes.ProductController.editProduct(product.id)">Edit</a>
							<input class="btn btn-primary mt-4" type="submit" value="Delete">
						}
					</div>
				</div>
			</div>
		}
		</div>
	</div>
}