@(users: List[WebUser])

@layout("User List"){
	<div class="container-fluid">
		<div class="row">
		@for(user <- users){
			<div class="col-4">
				<div class="card mt-5">
					<div class="card-header">
					User number @user.id.
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Name: @user.name</li>
							<li class="list-group-item">Surname: @user.surname</li>
							<li class="list-group-item">Mail: @user.email</li>
							<li class="list-group-item">Password: @user.password</li>
						</ul>
						
						@helper.form(action = helper.CSRF(routes.UserController.deleteUser(user.id)), 'method -> "delete"){
						<a class="btn btn-primary mt-4" href="@routes.UserController.editUser(user.id)">Edit</a>
							<input class="btn btn-primary mt-4" type="submit" value="Delete">
						}
					</div>
				</div>
			</div>
		}
		</div>
	</div>
}