<div class="container-fluid current-route-background bottom-margin-50">
	<div class="container">
		<p class="form-title-text">ABOUT US<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   ABOUT US</span></p>
	</div>
</div>
<div class="container-fluid bottom-margin-200">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-xl-6">
				<h1 class="title-text-links">About Us</h1>
				<p class="paragraph-text-about mt-4">
					We are a well rounded group of people who provide websites and other software products.
					Here we provided a website which enables users to buy, sell, keep track of and bid on a vast range of products, we ensure the user can do this quite easily without any issues. 
					<br>We also prioritize the buyers/sellers security over anything else as the user is number one at our priority list. Our security and liability is inspired by the law of equality. 
					<br>Which states the following: 
					<br>"In order to gain something, something of equal value must be sacrificed"
					<br>We will sacrifice. Whether it is time or effort we are ready to make that sacrifice for our dear users.
				</p>
				<p class="paragraph-text-about mt-4">
					As far as history goes, our company has existed for more than 15 years and we have been serving and enabling our users a secure and reliable experience and we will continue doing so.
					<br>As of today we have served more than a million users and we hope that number keeps going up into infinity. 
				</p>
			</div>
			<div class="col-lg-6 col-xl-6">
				<div class="about-us-left-margin">
					<div class="about-us-main-image-holder">
						<img class="about-us-main-image" src="https://muffin.ml/maki/churo-images/about-us/main.jpg">
					</div>
					<div class="row">
						<div class="col-lg-6 col-xl-6">
							<div class="about-us-image-holder">
								<img class="about-us-image" src="https://muffin.ml/maki/churo-images/about-us/primary.jpg">
							</div>
						</div>
						<div class="col-lg-6 col-xl-6">
							<div class="about-us-image-holder">
								<img class="about-us-image" src="https://muffin.ml/maki/churo-images/about-us/secondary.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>