<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">TERMS AND CONDITIONS<span class="current-route-text"><span class="current-route-parent-text">SHOP /</span>   TERMS AND CONDITIONS</span></p>
  </div>
</div>

<div class="container-fluid bottom-margin-100">
  <div class="container fade">
    <div class="row mr-0 ml-0 pr-0 pl-0">
      <div class="col-lg-2 col-xl-2"></div>
      <div class="col-lg-8 col-xl-8 mr-0 ml-0 pr-0 pl-0">
        <h1 class="title-text-links">Terms and Conditions</h1>

        <p class="paragraph-text-about">Last updated: November 13, 2018</p>
        <p class="paragraph-text-about mt-4">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the www.auction-house.com website (the "Service") operated by Auction House ("us", "we", or "our").</p>
        <p class="paragraph-text-about">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
        <p class="paragraph-text-about">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms and Conditions agreement  for Auction House is managed by our staff members.</p>

        <h2 class="small-title-text-links mt-4">Accounts</h2>

        <p class="paragraph-text-about">When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
        <p class="paragraph-text-about">You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
        <p class="paragraph-text-about">You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

        <h2 class="small-title-text-links mt-4">Links To Other Web Sites</h2>

        <p class="paragraph-text-about">Our Service may contain links to third-party web sites or services that are not owned or controlled by Auction House.</p>
        <p class="paragraph-text-about">Auction House has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Auction House shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
        <p class="paragraph-text-about">We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

        <h2 class="small-title-text-links mt-4">Termination</h2>

        <p class="paragraph-text-about">We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
        <p class="paragraph-text-about">All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
        <p class="paragraph-text-about">We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
        <p class="paragraph-text-about">Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
        <p class="paragraph-text-about">All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

        <h2 class="small-title-text-links mt-4">Governing Law</h2>

        <p class="paragraph-text-about">These Terms shall be governed and construed in accordance with the laws of Serbia, without regard to its conflict of law provisions.</p>
        <p class="paragraph-text-about">Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

        <h2 class="small-title-text-links mt-4">Changes</h2>

        <p class="paragraph-text-about">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
        <p class="paragraph-text-about">By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
      </div>
    </div>
  </div>
</div>