<div class="container-fluid current-route-background bottom-margin-50">
	<div class="container">
		<p class="form-title-text">ABOUT US<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   PROFILE</span></p>
	</div>
</div>

<div class="container-fluid mb-4">
	<div class="container">
		<div>
			{{#link-to 'account.profile' class="account-navigation-link-active"}}
				Profile
			{{/link-to}}
			{{#link-to 'account.sales.active' class="account-navigation-link"}}
				Sales
			{{/link-to}}
			{{#link-to 'account.bids' class="account-navigation-link"}}
				Bids
			{{/link-to}}
			{{#link-to 'account.wishlist' class="account-navigation-link"}}
				Wishlist
			{{/link-to}}
			{{#link-to 'account.settings' class="account-navigation-link"}}
				Settings
			{{/link-to}}
		</div>
	</div>
</div>

<div class="container-fluid bottom-margin-200">
	<div class="container">
		<div class="card">
			<p class="account-profile-card-top">REQUIRED</p>
		</div>
	</div>
</div>

