<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">BECOME A SELLER<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   BECOME A SELLER</span></p>
  </div>
</div>

{{outlet}}