<div class="container-fluid current-route-background bottom-margin-50">
	<div class="container">
		<p class="form-title-text">ABOUT US<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   BECOME A SELLER</span></p>
	</div>
</div>

<div class="container-fluid bottom-margin-200">
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card margin-card">
					<h1 class="account-card-title">SELL</h1>
					<div class="card-body">
						<div class="account-sell-image-holder text-center">
							<img class="account-sell-image" src="https://muffin.ml/maki/churo-images/sell/bag.png">
						</div>
						<div class="text-center top-margin-100 bottom-margin-100">
							{{#link-to "home" class="account-sell-link-button"}}
		  						START SELLING
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>