<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">SETTINGS<span class="current-route-text"><span class="current-route-parent-text">MY ACCOUNT /</span>   SETTINGS</span></p>
  </div>
</div>

<div class="container-fluid bottom-margin-75">
  <div class="container">
    <div>
      {{#link-to 'account.profile' class="account-navigation-link"}}
        <i class="material-icons">
          person
        </i>
        Profile
      {{/link-to}}

      {{#link-to 'account.sales' class="account-navigation-link"}}
        <i class="material-icons">
          view_list
        </i>
        Sales
      {{/link-to}}

      {{#link-to 'account.bids' class="account-navigation-link"}}
        <i class="material-icons">
          gavel
        </i>
        Bids
      {{/link-to}}

      {{#link-to 'account.wishlist' class="account-navigation-link"}}
        <i class="material-icons">
          card_giftcard
        </i>
        Wishlist
      {{/link-to}}

      {{#link-to 'account.settings' class="account-navigation-link-active"}}
        <i class="material-icons">
          settings
        </i>
        Settings
      {{/link-to}}
    </div>
  </div>
</div>

<div class="container-fluid bottom-margin-50">
  <div class="container">
    <div class="row fade">
      <div class="col-lg-6 col-xl-6 card-group">
        <div class="card mt-5">
          <h1 class="account-settings-card-title">Policy and Community</h1>
          <p class="account-settings-card-text">Receive updates on bids and seller's offers.
          <br>Stay informed through:</p>
          <div class="account-settings-checkbox-holder">
            {{input type="checkbox" name="mail" checked=remember class="account-settings-card-checkbox"}}
            <label class="account-settings-card-checkbox-label">Email</label>
          </div>
          <div class="account-settings-checkbox-holder">
            {{input type="checkbox" name="notifications" checked=remember class="account-settings-card-checkbox"}}
            <label class="account-settings-card-checkbox-label">Push Notifications</label>
          </div>
          <div class="account-settings-checkbox-holder mb-4">
            {{input type="checkbox" name="messages" checked=remember class="account-settings-card-checkbox"}}
            <label class="account-settings-card-checkbox-label">Text Messages</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 card-group">
        <div class="card mt-5">
          <h1 class="account-settings-card-title">Contact Information</h1>
          <p class="account-settings-card-text">This information can be found and edited on your account profile.</p>
          <label class="account-settings-card-text">Email: <span class="account-settings-card-text-special">Placeholder</span></label>
          <label class="account-settings-card-text">Phone:<span class="account-settings-card-text-special">Placeholder</span></label>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="card margin-card mt-5">
          <h1 class="account-settings-card-title">Account</h1>
          <p class="account-settings-card-text">Do you want to deativate account?</p>
          <button class="account-settings-button-deactivate">DEACTIVATE</button>
        </div>
      </div>
    </div>
  </div>
</div>