<div class="container-fluid bottom-margin-200">
  <div class="container">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fade">
        <div class="card margin-card">
          <h1 class="account-card-title">SELL</h1>
          <div class="card-body">
            <div class="account-sell-image-holder text-center">
              <img class="account-sell-image" src="https://muffin.ml/maki/churo-images/sell/bag.png">
            </div>
            <div class="text-center top-margin-100 bottom-margin-100">
              {{#link-to "account.sell.new" class="account-sell-link-button"}}
                START SELLING
                <i class="material-icons">
                  keyboard_arrow_right
                </i> 
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>