<div class="container-fluid current-route-background bottom-margin-50">
  <div class="container">
    <p class="form-title-text">ADMIN<span class="current-route-text"><span class="current-route-parent-text">ADMIN /</span>   USERS</span></p>
  </div>
</div>

<div class="container-fluid mb-4">
  <div class="container">
    <div>
      {{#link-to 'account.admin.users' class="account-navigation-link-active"}}
        <i class="material-icons">
          group
        </i>
        Users
      {{/link-to}}

      {{#link-to 'account.admin.products' class="account-navigation-link"}}
        <i class="material-icons">
          card_giftcard
        </i>
        Products
      {{/link-to}}

      {{#link-to 'account.admin.categories' class="account-navigation-link"}}
        <i class="material-icons">
          view_list
        </i>
        Categories
      {{/link-to}}

    </div>
  </div>
</div>

<div class="container-fluid mt-5 bottom-margin-100">
  <div class="container">
    <div class="bottom-margin-100">
      <div class="row fade">
        {{#each model.users as |user index|}}
          <div class="col-lg-6 col-xl-4">
            <div class="mb-5 mt-5">
              <div class="home-product-card mt-3 mb-3">
                <div class="mt-2">
                  <h1 class="home-product-card-name-text">User number {{user.id}}</h1>
                  <h1 class="home-product-card-name-text">Fullname - {{user.name}} {{user.surname}}</h1>
                  <h1 class="home-product-card-name-text mb-5">Email - {{user.email}}</h1>
                  {{#link-to "account.admin.single-user" user.id class="category-table-link pt-5 mt-5"}}
                    More Info
                  {{/link-to}}
                  <hr class="admin-users-hr">
                </div>
              </div>  
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>